body{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

header{
    padding: 0;
    margin: 0;
    background-color: rgb(240, 239, 239);
    align-items: center;
}

footer{
    bottom:0; 
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%; 
    height:20px; 
    background-color: rgb(240, 239, 239);
    
}
.card_block{
    float: left;
    width: 23%;
    padding: 0.5%;
}

.cards{
    width: 100%;
    padding-top: 5%;
    padding-bottom: 7%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: hsl(0, 4%, 82%);
    border-radius: 3px;
    text-align: left;
}

.card-text1{
    padding: 5%;
    font-size: 25px;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    font-weight: 900;
}

.card-text2{
    padding: 5%;
    font-size: 12px;
    font-weight: bold;
}
#header_inner_container{
    width:100%;
    margin: 0 -5px;
    align-items: center;
    padding-top: 7%;
    padding-left: 0.5%;
    padding-bottom: 7%;
}

#header_inner_container:after{
    content: "";
    display: table;
    clear: both;
    align-items: center;
}
.container{
    width: 85%;
    margin: auto;
    overflow: hidden;
    margin: auto;
    padding-left: 2%;
    padding: 0;
    text-align: center;
    align-items: center;
}

.speciality{
    min-height: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

#speciality_inner_container{
    width:100%;
    margin: 0 -5px;
    align-items: center;
    text-align: left;
    float: left;
}

#speciality_inner_container:after{
    content: "";
    display: table;
    clear: both;
    align-items: center;
}

.count{
    flex:1;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 50px;
    line-height: 80%;
    color: hsl(48, 100%, 52%);
    font-weight: 900;
}

.sub_heading{
    flex:6;
    font-weight: bold;
    line-height: 100%;
    padding-right: 5px;
    flex-direction: column;
}
.details{
    flex: 0 1 100%;
    text-align: justify;
    font-size: 13px;
    color: gray;
    flex-direction: row
}

@media screen and (max-width: 1250px) {
    .card_block {
        width: 48%;
        display: block;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 625px) {
    .card_block {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}